---
layout: default
---

<div class="about-page">
  {% if page.profile %}
    <div class="about-profile">
      {% if page.profile.image %}
        {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
        {% if page.profile.image_circular %}
          {% assign profile_image_class = 'img-fluid rounded-circle' %}
        {% else %}
          {% assign profile_image_class = 'img-fluid rounded' %}
        {% endif %}
        {% capture sizes %}(min-width: {{ site.max_width }}) 200px, 30vw{% endcapture %}
        {%
          include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
          cache_bust=true
        %}
      {% endif %}
    </div>
  {% endif %}

  <div class="about-content">
    {{ content }}
  </div>

  {% if page.selected_papers %}
    <div class="about-publications">
      <h2>
        <a href="{{ '/publications/' | relative_url }}">publications</a>
      </h2>
      {% include selected_papers.liquid %}
    </div>
  {% endif %}
</div>
