---
layout: default
---

{% if page.cv_pdf %}
  {% if page.cv_pdf contains '://' %}
    {% assign pdf_url = page.cv_pdf %}
  {% else %}
    {% assign pdf_url = page.cv_pdf | prepend: 'assets/pdf/' | relative_url %}
  {% endif %}
  <div class="cv-page">
    <iframe src="{{ pdf_url }}" class="cv-embed"></iframe>
  </div>
{% endif %}
